{% extends 'layout.html' %} {% block content %}
<div class="timeline">
  <div class="followings half">
    <h2>팔로잉 목록</h2>
    {% if user.Followings %} {% for following in user.Followings %}
    <div>
      {{following.nick}}
      <input id="following-id" type="hidden" value="{{following.id}}" />
      <button class="delete-follow">삭제</button>
    </div>

    {% endfor %} {% endif %}
  </div>
  <div class="followers half">
    <h2>팔로워 목록</h2>
    {% if user.Followers %} {% for follower in user.Followers %}
    <div>{{follower.nick}}</div>
    {% endfor %} {% endif %}
  </div>
</div>
{% endblock %} {% block script %}
<script>
  document.querySelectorAll('.delete-follow').forEach(function (tag) {
    tag.addEventListener('click', function () {
      alert('test')
      const followingId = document.querySelector('#following-id').value
      if (confirm('삭제 하시겠습니까?')) {
        axios
          .post(`/user/${followingId}/followDelete`)
          .then(() => {
            location.reload()
          })
          .catch((err) => {
            console.error(err)
          })
      }
    })
  })
</script>
{% endblock %}
